@import url("./styles/type-colors.css");

html {
	width: 100vw;
	height: 100vh;
	background-color: #f3ebcc;
}

body {
	margin: 0;
}

h4 {
	margin-bottom: 0px !important;
}

th {
	padding: 0 5px !important;
	text-align: center !important;
}

.ant-description-header {
	margin-bottom: 0;
}
