html {
	width: 100vw;
	height: 100vh;
	background-color: #f3ebcc;
}

body {
	margin: 0;
}

.ant-description-header {
	margin-bottom: 0;
}

.Bug {
	background-color: #7eae31;
	color: white;
}
.Dark {
	background-color: #6a4d34;
	color: white;
}
.Dragon {
	background-color: #844177;
	color: white;
}
.Electric {
	background-color: #f9b427;
	color: white;
}
.Fairy {
	background-color: #fe9c98;
	color: white;
}
.Fight {
	background-color: #b64e24;
	color: white;
}
.Fire {
	background-color: #ff5619;
	color: white;
}
.Flying {
	background-color: #8b96ad;
	color: white;
}
.Ghost {
	background-color: #61608f;
	color: white;
}
.Grass {
	background-color: #44b15a;
	color: white;
}
.Ground {
	background-color: #c6a145;
	color: white;
}
.Ice {
	background-color: #23b8c5;
	color: white;
}
.Normal {
	background-color: #968e6d;
	color: white;
}
.Poison {
	background-color: #ce5674;
	color: white;
}
.Psychic {
	background-color: #ff6d6c;
	color: white;
}
.Rock {
	background-color: #ab9345;
	color: white;
}
.Steel {
	background-color: #9c9897;
	color: white;
}
.Water {
	background-color: #3882aa;
	color: white;
}
